h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #333; /* Change this to the color you want for the underline */
  text-decoration-thickness: 2px; /* Adjust the thickness of the underline */
  padding-bottom: 5px; /* Add some space below the underline */
}
h3{
  text-align: center;
}
p {
  margin: 0px 50px; /* 10px top and bottom, 0 left and right */
  text-align: center;
  font-size: large;
  margin-bottom: 5px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 50vh;
}
.container {
  background-color: transparent;
  padding: 40px;
  border-radius: 8px;
  margin-top: 20px;
}
.home {
  width: 100%;
  display: flex;
  flex-direction: row; /* Set to row for horizontal alignment */
  align-items: center; /* Center items vertically */
  flex: 1;
  padding: 20px;
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, rgb(194, 162, 223), rgb(9, 2, 34));
  border-radius: 8px;
}
  

.home__container {
  max-width: 50%; /* Adjust the max-width as needed */
  margin-left: 100px; 
}

.logo__img {
  max-width: 100%;
  height: 150px;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home__data {
  margin-right: 50px; /* Add margin for spacing between container and cube */
}

.home__title {
  font-size: 2.5em;
  line-height: 1.2;
  color: #220045;
}

.home__description {
  font-size: 1.2em;
  color: #232123;
  align-items: center;
  margin-top: 20px;
  
}

.home__cube {
  display: flex;
  justify-content: center;
  flex: 1;
}

.cube {
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  animation: rotateCube 10s infinite linear;
}

.face {
  position: absolute;
  width: 250px;
  height: 250px;
  border: 0.2px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
}

.face img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.front { transform: rotateY(0deg) translateZ(125px); }
.right { transform: rotateY(90deg) translateZ(125px); }
.back { transform: rotateY(180deg) translateZ(125px); }
.left { transform: rotateY(-90deg) translateZ(125px); }

@keyframes rotateCube {
  0% { transform: rotateY(0deg); }
  25% { transform: rotateY(90deg); }
  50% { transform: rotateY(180deg); }
  75% { transform: rotateY(270deg); }
  100% { transform: rotateY(360deg); }
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

#about {
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 10px;
}
.videoContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  
}
#about ul {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  list-style-type: disc;
  line-height: 1.5;
  font-size: large;
}

#solution {
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 10px;
}
#solution img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; /* This will make the image responsive */
}

#about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%; /* This will make the image responsive */
}

#photos {
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 10px;
  padding: 1%;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly with space between them */
}

#photos img {
  width: 48%; /* Adjust the width as needed for two columns */
  height: 350px;
  border-radius: 8px;
  margin-left: 1%;
  margin-bottom: 20px; /* Add some margin below the images */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#bom {
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 10px;
}
.budjet__grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team__data h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
}

.team__data ul {
  list-style: none;
}

.team__data li {
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.budjet__grid h2 {
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

.budjet__grid table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 2rem;
}

.budjet__grid th,
.budjet__grid td {
  border: 1px solid #000000;
  padding: 0.5rem;
  text-align: center;

}

.budjet__grid th {
  background-color: #edc9ff;
  color: #210303;
  font-weight: 1000;
}

.budjet__grid tbody tr:hover {
  background-color: plum;
}

.map-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Add some margin between the text and the grid */
}

.map-grid img {
  width: 40% !important; /* Adjust the width as needed for two columns */
  height: 600px !important;
  border-radius: 8px; 
  padding: 1%;
  margin-bottom: 20px; /* Add some margin below the images */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);/* Add some margin around each image */
}
.mobile-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; /* Add some margin between the text and the grid */
}

.mobile-grid img {
  width: 20% !important; /* Adjust the width as needed for two columns */
  height: 600px !important;
  border-radius: 8px; 
  padding: 1%;
  margin-bottom: 20px; /* Add some margin below the images */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);/* Add some margin around each image */
}

#group-members {
  background-color: #f0f0f0;
  width: 100%;
  border-radius: 10px;
}
.team__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__data ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
  background-color: #4b1b4b;
  color: #FFF;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

footer h2 {
  text-decoration: underline;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

footer ul {
  list-style: none;
  text-align: center;
}

footer li {
  margin-bottom: .75rem;
}

footer a {
  color: #ffa3f9;
  font-weight: 500;
  transition: .3s;
}

footer a:hover {
  color: #e9d6a9;
}
.footer__copy {
  margin: 7rem 0 2rem;
}