.homeContainer {
    display: flex;
    padding: 0 150px 0 150px;
    background-color: #303030;
    min-height: calc(100vh - 60px); 
}

.feedContainer{
    flex: 6;

}

.rightbarContainer{
    flex: 3;

}

.rightbarContainerHomeFeed{
    flex: 3;
}

.rightbarContainerProfile{
    flex: 3;
}

@media only screen and (max-width: 600px) {
    .homeContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 10px 0 10px;

    }


    .rightbarContainerHomeFeed{
        
        display: none;
    }

    .rightbarContainerProfile{
        display: none;
    }


}