* {
    margin: 0;
    padding: 0;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    background-color: #303030;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px;

}

.topContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;

}

/* .previewContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
} */

.previewContainer2{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 35px; 
    overflow: hidden;
    height: 400px;
}
 

.image{
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 35px;
    overflow: hidden;
}
.bottomContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;   
    padding-top: 10px;

}



@media only screen and (max-width: 600px) {
    .image{
        height: 260px;  
        width: auto;
    }

    .topContainer{
        padding-top: 10px;
        padding-bottom: 20px;
        
    }

    .bottomContainer {  
        padding-top: 20px;
    
    }
    .previewContainer2{
        height: 300px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 20px; 
    }


}
