.PostMainComponent {
    display: flex;
    justify-content: center;
    align-items: center ;
    background-color: #303030;
    min-height: calc(100vh - 60px); 
}

.formContainer{
    background-color: black;
    width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.loginTitle{
    margin-bottom: 30px;
    color: aliceblue;
}


p .email, p .password{
    color: aliceblue;
}


@media only screen and (max-width: 600px) {
    
    .formContainer{
        background-color: black;
        width: 380px;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
    }
  }