.feed{
    background-color: black;
    margin: 10px 10px 0 0;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 1px;
    

}


.mainNav{

  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px 0 20px;
    height: 60px;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #CDBABA;
    
  
}

.kkk{
  overflow-y: auto; 
  height: calc(100vh - 140px); 
}


.mainNavImage{
    color: white;
    font-size: 35px !important;
    font-weight: bold !important;
}

.mainNavImage :hover{
    scale: 1.1;
}


.mainNavImageHome{
    color: #C068D6;
    font-size: 35px !important;
    font-weight: bold !important;
}
.mainNavImageHome :hover{
    scale: 1.1;
}


@media only screen and (max-width: 600px) {
    .feed{
        margin: 10px 0px 0 0;

    }

    .kkk{
        height: auto; 
      }


}