.btnContainer{
    display: flex;
    align-items: center;
    height: 40px;
    width: 100px;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    background-color: var(--background-color);
}

.btnContainer:hover{
    background-color: rgb(26, 26, 26);
    border: solid 0.5px rgb(85, 85, 85);
}

.btnImage{
    width: 30%;


}


.btnTitle{
    color: aliceblue;
}